.cart-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  h3{
    color: black;

  }
  
  .cart-popup {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 400px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
  }
  
  
  
  .cart-items {
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    object-fit: cover;
  }
  
  .cart-item-info h4 {
    margin: 0;
    color: black;
    font-size: 16px;
  }
  
  .cart-item-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  .remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: auto;
  }
  
  .cart-actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .continue-shopping-btn,
  .checkout-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .checkout-btn {
    background-color: #28a745;
  }
  
  .total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    color: #333;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 2px solid #ddd;
    border-radius: 5px;
  }
  